{
  "openapi": "3.1.1",
  "info": {
    "title": "Labyrinth API",
    "version": "v1"
  },
  "servers": [
    {
      "url": "https://labyrinth.syllab.com/"
    }
  ],
  "paths": {
    "/crawlers": {
      "get": {
        "tags": [
          "Crawlers"
        ],
        "summary": "Retrieves all crawlers associated with the specified application key.",
        "parameters": [
          {
            "name": "appKey",
            "in": "query",
            "description": "The unique identifier for the application whose crawlers are to be retrieved. Must be a valid application\r\n    key.",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of crawlers succesfully retrieved  for thespecified application key successfully",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Crawler"
                  }
                }
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Crawler"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Crawler"
                  }
                }
              }
            }
          },
          "401": {
            "description": "A valid app key is required",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Crawlers"
        ],
        "summary": "Creates a new labyrinth crawler instance from a maximum of 3 associated with the specified application key.",
        "description": "All crawlers must be deleted to leave a labyrinth instance associated with an application key.",
        "parameters": [
          {
            "name": "appKey",
            "in": "query",
            "description": "The unique application key used to authorize the request and associate the crawler instance. Must be a\r\n    valid, registered app key.",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "description": "Optional settings to configure the crawler and labyrinth. Ignored if the app key already has a crawler.",
          "content": {
            "application/json": {
              "schema": {
                "oneOf": [
                  {
                    "type": "null"
                  },
                  {
                    "$ref": "#/components/schemas/Settings"
                  }
                ]
              }
            },
            "text/json": {
              "schema": {
                "oneOf": [
                  {
                    "type": "null"
                  },
                  {
                    "$ref": "#/components/schemas/Settings"
                  }
                ]
              }
            },
            "application/*+json": {
              "schema": {
                "oneOf": [
                  {
                    "type": "null"
                  },
                  {
                    "$ref": "#/components/schemas/Settings"
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Crawler successfully created",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Crawler"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Crawler"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Crawler"
                }
              }
            }
          },
          "400": {
            "description": "Bad parameters in settings see Settings fields documentation",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "A valid app key is required",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "403": {
            "description": "This app key reached its 3 instances of simultaneous crawlers",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/crawlers/{id}": {
      "get": {
        "tags": [
          "Crawlers"
        ],
        "summary": "Retrieves information about a specific crawler identified by its unique identifier.",
        "parameters": [
          {
            "name": "appKey",
            "in": "query",
            "description": "The application key used to authorize access to the crawler. Must be a valid and authorized key.",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "id",
            "in": "path",
            "description": "The unique identifier of the crawler to retrieve.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Crawler information successfully found",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Crawler"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Crawler"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Crawler"
                }
              }
            }
          },
          "401": {
            "description": "A valid app key is required",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "403": {
            "description": "This app key cannot access to this crawler",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "Unkown crawler",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      },
      "patch": {
        "tags": [
          "Crawlers"
        ],
        "summary": "Updates the direction and/or walking state of the specified crawler. The only way to MOVE THE CRAWLER.",
        "description": "Set ```walking``` to `true` in order to walk and try to pass the facing tile. \r\nIf the tile is traversable, it returns ```200``` or ```409``` else.\r\nOnly the direction and walking state of the crawler can be changed with this operation. \r\nOther properties will be ignored.\r\nUse ```/crawlers/{id}/bag``` and ```/crawlers/{id}/items``` to manipulate inventories.",
        "parameters": [
          {
            "name": "appKey",
            "in": "query",
            "description": "The application key used to authenticate the request. Must be valid and authorized to access the specified\r\n    crawler.",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "id",
            "in": "path",
            "description": "The unique identifier of the crawler to update.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "description": "An object containing the new direction and/or walking state for the crawler. Only these properties can be\r\n    modified.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Crawler"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/Crawler"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/Crawler"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Crawler successfully modified",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Crawler"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Crawler"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Crawler"
                }
              }
            }
          },
          "401": {
            "description": "A valid app key is required",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "403": {
            "description": "This app key cannot access to this crawler",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "Unkown crawler",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Crawlers"
        ],
        "summary": "Deletes the specified crawler if the provided application key has access.",
        "description": "All crawlers must be deleted to leave a labyrinth instance associated with an application key.",
        "parameters": [
          {
            "name": "appKey",
            "in": "query",
            "description": "The application key used to authorize the request. Must be valid and associated with the crawler.",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "id",
            "in": "path",
            "description": "The unique identifier of the crawler to delete.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Crawler successfully deleted"
          },
          "401": {
            "description": "A valid app key is required",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "403": {
            "description": "This app key cannot access to this crawler",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "Unkown crawler",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/crawlers/{id}/bag": {
      "get": {
        "tags": [
          "Crawlers"
        ],
        "summary": "Gets the list of items currently held in the specified crawler's inventory.",
        "parameters": [
          {
            "name": "appKey",
            "in": "query",
            "description": "The application key used to authorize the request. Must be a valid and authorized key.",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "id",
            "in": "path",
            "description": "The unique identifier of the crawler whose inventory bag is to be retrieved.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Inventory successfully retreived",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/InventoryItem"
                  }
                }
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/InventoryItem"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/InventoryItem"
                  }
                }
              }
            }
          },
          "401": {
            "description": "A valid app key is required",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "403": {
            "description": "This app key cannot access to this crawler",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "Unkown crawler",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Crawlers"
        ],
        "summary": "Updates the inventory bag for the specified crawler. Frequently used to put one or more item in a room.",
        "description": "Set the ```move-required``` field to `true`\r\n    in order to move an item to the room. Call ```/crawlers/{id}/bag``` to have a full inventory.",
        "parameters": [
          {
            "name": "appKey",
            "in": "query",
            "description": "The application key used to authorize the request. Must be a valid and authorized key.",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "id",
            "in": "path",
            "description": "The unique identifier of the crawler whose inventory bag is to be updated.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "description": "An array of ```InventoryItem``` objects representing the items types and a boolean for moving it to the tile inventory.",
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/InventoryItem"
                }
              }
            },
            "text/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/InventoryItem"
                }
              }
            },
            "application/*+json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/InventoryItem"
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Inventory successfully changed",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/InventoryItem"
                  }
                }
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/InventoryItem"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/InventoryItem"
                  }
                }
              }
            }
          },
          "401": {
            "description": "A valid app key is required",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "403": {
            "description": "This app key cannot access to this crawler",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "Unkown crawler",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "408": {
            "description": "Inventory access timed out",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "409": {
            "description": "Inventory changed not traversable or crawler do not have the right door key",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/crawlers/{id}/items": {
      "get": {
        "tags": [
          "Crawlers"
        ],
        "summary": "Retrieves the list of inventory items currently associated with the current crawler location (i.e. tile).",
        "parameters": [
          {
            "name": "appKey",
            "in": "query",
            "description": "The application key used to authorize the request. Must be a valid and authorized key.",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "id",
            "in": "path",
            "description": "The unique identifier of the crawler whose current tile inventory is to be retrieved.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Inventory successfully retreived",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/InventoryItem"
                  }
                }
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/InventoryItem"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/InventoryItem"
                  }
                }
              }
            }
          },
          "401": {
            "description": "A valid app key is required",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "403": {
            "description": "This app key cannot access to this crawler",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "Unkown crawler",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Crawlers"
        ],
        "summary": "Updates the items placed in the tile of the specified crawler. \r\nFrequently used to TAKE one or more ITEM in a room and move them in the crawler's bag (i.e. inventory).",
        "description": "Set the ```move-required``` field to `true`\r\n    in order to move an item from the room to the bag. Call ```/crawlers/{id}/items``` to have a full inventory.",
        "parameters": [
          {
            "name": "appKey",
            "in": "query",
            "description": "The application key used to authorize the request. Must be a valid and authorized key.",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "id",
            "in": "path",
            "description": "The unique identifier of the crawler whose inventory bag is to be updated.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "description": "An array of ```InventoryItem``` objects representing the items types and a boolean for moving it to the crawler's inventory.",
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/InventoryItem"
                }
              }
            },
            "text/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/InventoryItem"
                }
              }
            },
            "application/*+json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/InventoryItem"
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Inventory successfully changed",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/InventoryItem"
                  }
                }
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/InventoryItem"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/InventoryItem"
                  }
                }
              }
            }
          },
          "401": {
            "description": "A valid app key is required",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "403": {
            "description": "This app key cannot access to this crawler",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "Unkown crawler",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "409": {
            "description": "Failed to complete item transfer, tile inventory changed since the last consultation",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/Groups": {
      "get": {
        "tags": [
          "Groups"
        ],
        "summary": "Retrieves all available registered player groups.",
        "responses": {
          "200": {
            "description": "An enumerable collection of GroupInfo objects representing all player groups information.",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/GroupInfo"
                  }
                }
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/GroupInfo"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/GroupInfo"
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "Crawler": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "The unique identifier of the crawler.",
            "format": "uuid"
          },
          "x": {
            "pattern": "^-?(?:0|[1-9]\\d*)$",
            "type": [
              "integer",
              "string"
            ],
            "description": "The horizontal position of the crawler on the map.",
            "format": "int32"
          },
          "y": {
            "pattern": "^-?(?:0|[1-9]\\d*)$",
            "type": [
              "integer",
              "string"
            ],
            "description": "The vertical position of the crawler on the map.",
            "format": "int32"
          },
          "direction": {
            "description": "The direction the crawler is currently facing.",
            "$ref": "#/components/schemas/Direction"
          },
          "walking": {
            "type": "boolean",
            "description": "A value indicating whether the crawler is currently walking. Set to `true` if walking; otherwise, `false`."
          },
          "facing-tile": {
            "description": "The type of tile the crawler is currently facing.",
            "$ref": "#/components/schemas/TileType"
          },
          "bag": {
            "type": [
              "null",
              "array"
            ],
            "items": {
              "$ref": "#/components/schemas/InventoryItem"
            },
            "description": "An optional list of items currently held in the crawler's bag. Can be empty but not null."
          },
          "items": {
            "type": [
              "null",
              "array"
            ],
            "items": {
              "$ref": "#/components/schemas/InventoryItem"
            },
            "description": "An optional list of items present at the crawler's current location. Can be empty but not null."
          }
        },
        "description": "Crawler information, including its position, direction, movement status, and items available."
      },
      "Direction": {
        "enum": [
          "North",
          "East",
          "South",
          "West"
        ],
        "description": "Specifies the four cardinal directions: North, East, South, and West."
      },
      "GroupInfo": {
        "required": [
          "name"
        ],
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "Gets the name of the group."
          },
          "app-keys": {
            "pattern": "^-?(?:0|[1-9]\\d*)$",
            "type": [
              "integer",
              "string"
            ],
            "description": "Gets the number of application keys registered for the group.",
            "format": "int32"
          },
          "active-crawlers": {
            "pattern": "^-?(?:0|[1-9]\\d*)$",
            "type": [
              "integer",
              "string"
            ],
            "description": "Get the number of active crawlers (not deleted) for the group.",
            "format": "int32"
          },
          "api-calls": {
            "pattern": "^-?(?:0|[1-9]\\d*)$",
            "type": [
              "integer",
              "string"
            ],
            "description": "Gets or sets the total number of API calls made since the start of the server.",
            "format": "int64"
          }
        },
        "description": "Represents the group informations."
      },
      "InventoryItem": {
        "type": "object",
        "properties": {
          "type": {
            "description": "The type of the item.",
            "$ref": "#/components/schemas/ItemType"
          },
          "move-required": {
            "type": [
              "null",
              "boolean"
            ],
            "description": "Indicates whether a move is required for the item. \r\nSet to `true` if a move is required; `false` \r\nor `null` or missing if not."
          }
        },
        "description": "Inventory item, including its type and an optional move requirement."
      },
      "ItemType": {
        "enum": [
          "Key"
        ],
        "description": "Inventory item types."
      },
      "ProblemDetails": {
        "type": "object",
        "properties": {
          "type": {
            "type": [
              "null",
              "string"
            ],
            "description": "A URI reference [RFC3986] that identifies the problem type. This specification encourages that, when\r\ndereferenced, it provide human-readable documentation for the problem type\r\n(e.g., using HTML [W3C.REC-html5-20141028]). When this member is not present, its value is assumed to be\r\n\"about:blank\"."
          },
          "title": {
            "type": [
              "null",
              "string"
            ],
            "description": "A short, human-readable summary of the problem type. It SHOULD NOT change from occurrence to occurrence\r\nof the problem, except for purposes of localization(e.g., using proactive content negotiation;\r\nsee[RFC7231], Section 3.4)."
          },
          "status": {
            "pattern": "^-?(?:0|[1-9]\\d*)$",
            "type": [
              "null",
              "integer",
              "string"
            ],
            "description": "The HTTP status code([RFC7231], Section 6) generated by the origin server for this occurrence of the problem.",
            "format": "int32"
          },
          "detail": {
            "type": [
              "null",
              "string"
            ],
            "description": "A human-readable explanation specific to this occurrence of the problem."
          },
          "instance": {
            "type": [
              "null",
              "string"
            ],
            "description": "A URI reference that identifies the specific occurrence of the problem. It may or may not yield further information if dereferenced."
          }
        },
        "description": "A machine-readable format for specifying errors in HTTP API responses based on <see href=\"https://tools.ietf.org/html/rfc7807\" />."
      },
      "Settings": {
        "type": "object",
        "properties": {
          "random-seed": {
            "pattern": "^-?(?:0|[1-9]\\d*)$",
            "type": [
              "null",
              "integer",
              "string"
            ],
            "description": "Gets or sets the seed value used to initialize the random number generator used for labyrinth generation.",
            "format": "int32"
          },
          "corridor-walls": {
            "type": [
              "null",
              "array"
            ],
            "items": {
              "pattern": "^-?(?:0|[1-9]\\d*)$",
              "type": [
                "integer",
                "string"
              ],
              "format": "int32"
            },
            "description": "Gets or sets the labyrinth walls on specific tiles."
          },
          "wall-doors": {
            "type": [
              "null",
              "array"
            ],
            "items": {
              "type": "array",
              "items": {
                "pattern": "^-?(?:0|[1-9]\\d*)$",
                "type": [
                  "integer",
                  "string"
                ],
                "format": "int32"
              }
            },
            "description": "Gets or sets the collection of wall door positions for the structure."
          },
          "key-rooms": {
            "type": [
              "null",
              "array"
            ],
            "items": {
              "type": "array",
              "items": {
                "pattern": "^-?(?:0|[1-9]\\d*)$",
                "type": [
                  "integer",
                  "string"
                ],
                "format": "int32"
              }
            },
            "description": "Gets or sets the collection of key rooms, where each inner array represents a set of room positions\r\nto put a key in."
          }
        },
        "description": "Settings used to configure the crawler and the labyrinth (first crawler only)."
      },
      "TileType": {
        "enum": [
          "Outside",
          "Room",
          "Wall",
          "Door"
        ],
        "description": "Labyrinth tile types."
      }
    }
  },
  "tags": [
    {
      "name": "Crawlers"
    },
    {
      "name": "Groups"
    }
  ]
}